@using LetMeet.Data.Dtos.Reports;
@{
    ViewData["Title"] = "Admin- Reports";
    ViewBag.currentPage = "Reports";
    var allSupervisors = ViewData[ViewStringHelper.AllSupervisors] as List<SupervisorOrStudentSelectDto> ?? new();
    var allStudents = ViewData[ViewStringHelper.AllStudents] as List<SupervisorOrStudentSelectDto> ?? new();

    var topStudentsAbsence = ViewData[ViewStringHelper.TopStudentAbsence] as List<TopStudentAbsence> ?? new();
    var topSupervisorsAbsence = ViewData[ViewStringHelper.TopSupervisorAbsence] as List<TopSupervisorAbsence> ?? new();

    var fullSupervisors = ViewData[ViewStringHelper.FullSupervisors] as List<FullSupervisor> ?? new();
    var idleSupervisors = ViewData[ViewStringHelper.IdelSupervisors] as List<IdelSupervisor> ?? new();

    List<SelectListItem> studentsOptions = allStudents.Select(s => new SelectListItem { Text = s.FullName, Value = s.id.ToString() }).ToList();
    List<SelectListItem> supervisorsOptions = allSupervisors.Select(s => new SelectListItem { Text = s.FullName, Value = s.id.ToString() }).ToList();


}
@*Show Single (Student(all previous meetings and there presence , total previous tasks and their complement ) || Supervisor (all active students and the meetings and there presence , tasks count )) Report *@

<div class="d-flex justify-content-end w-100">
    <button onclick="PrintOnly('body')" type="button" title="" data-original-title="Print All Page" class="btn btn-primary">
        <i class="material-icons">print</i>
    </button>

    <button class="btn btn-primary dropdown-toggle" type="button" id="advanceReportBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Advance
    </button>
    <div class="dropdown-menu" aria-labelledby="advanceReportBtn">
        <button style="cursor:pointer;" data-toggle="modal" data-target="#choseSupervisorModal" class=" dropdown-item">Supervisor Report</button>
        <button style="cursor:pointer;" data-toggle="modal" data-target="#choseStudentModal" class=" dropdown-item">Student Report</button>
    </div>

</div>

@*Chose Student Modal*@
<div id="choseStudentModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chose Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label class="form-label" for="studentSelect">Student</label>

                <select id="studentSelect" data-val="true" data-val-required="Student Is Required" name="studentSelect" required class="selectpicker btn btn-outline-rose btn-dark w-100" data-style="btn btn-rose btn-round" asp-items="@studentsOptions"></select>


                @*<select id="studentSelect" data-val="true" data-val-required="Student Is Required" name="studentSelect" required="" class="selectpicker btn btn-outline-rose btn-dark w-100" data-style="btn btn-rose btn-round">
                <option value="1">Abass Ahmed -- Ali Adel</option>
                <option value="5">Abass Ahmed -- Rami Khalid</option>

                </select>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="showStudentReportBtn" type="button" class="btn btn-primary">Show</button>
            </div>
        </div>
    </div>
</div>
@*Chose Supervisor Modal*@
<div id="choseSupervisorModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chose Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <label class="form-label" for="supervisorSelect">Supervisor</label>
                <select id="supervisorSelect" data-val="true" data-val-required="Supervisor Is Required" name="supervisorSelect" required class="selectpicker btn btn-outline-rose btn-dark w-100" data-style="btn btn-rose btn-round" asp-items="@supervisorsOptions"></select>


                @*<select id="supervisorSelect" data-val="true" data-val-required="Supervisor Is Required" name="supervisorSelect" required="" class="selectpicker btn btn-outline-rose btn-dark w-100" data-style="btn btn-rose btn-round">
                <option value="1">Abass Ahmed </option>

                </select>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="showSupervisorReportBtn" type="button" class="btn btn-primary">Show</button>
            </div>
        </div>
    </div>
</div>

<script defer>
    document.addEventListener('DOMContentLoaded', function () {
        const supervisorSelect = document.querySelector('#supervisorSelect');
        const studentSelect = document.querySelector('#studentSelect');

        const showStudentBtn = document.querySelector('#showStudentReportBtn');
        const showSupervisorReportBtn = document.querySelector('#showSupervisorReportBtn');


        showStudentBtn.addEventListener('click', function () {
            const selectedStudentValue = studentSelect.value;

            if (selectedStudentValue) {
                const reportUrl = `/Report/Student/${selectedStudentValue}`;
                window.open(reportUrl, '_blank');
            } else {
                alert('No name found');
            }
        });

        showSupervisorReportBtn.addEventListener('click', function () {
            const selectedSupervisorValue = supervisorSelect.value;

            if (selectedSupervisorValue) {
                const reportUrl = `/Report/Supervisor/${selectedSupervisorValue}`;
                window.open(reportUrl, '_blank');
            } else {
                alert('No name found');
            }
        });


    });
</script>

<div class="row">

    @*Most Students Absence*@
    <div class="col-12">
        <div id="mostStudentsAbsence" class="card">
            <div class="card-header card-header-danger">
                <div class="d-flex flex-row justify-content-between">
                    <div>
                        <h4 class="card-title">Most Absence Students </h4>

                        <p class="category">Total students are : @topStudentsAbsence.Count</p>
                    </div>

                    <button onclick="PrintOnly('#mostStudentsAbsence')" type="button" title="" data-original-title="Print All Page" class="btn btn-danger p-3">
                        <i class="material-icons">print</i>
                    </button>
                </div>


            </div>
            <div class="card-body">
                <div class="table-responsive table-hover">
                    @{
                        if (topStudentsAbsence.Count < 1)
                        {
                            <h5 class="alert alert-success w-100 text-center">No Absence Students , Congradulations✨</h5>

                        }
                        else
                        {

                            <table class="table text-center">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Stage</th>
                                        <th>Supervisor</th>
                                        <th>Absence Times</th>

                                    </tr>
                                </thead>
                                <tbody>


                                    @foreach (var student in topStudentsAbsence)
                                    {
                                        <tr>
                                            <td>@student.id.ToString("N").Substring(0,4)</td>
                                            <td><a href="/Profile/Student/@student.id">@student.fullName</a></td>
                                            <td>
                                                <a class="d-block" href="mailto:@student.email">@student.email</a>
                                            </td>
                                            <td>@student.stage </td>
                                            <td> <a href="/Profile/Supervisor/@student.supervisorId">@student.supervisorName</a> </td>
                                            <td>@student.absneceTimes</td>
                                        </tr>
                                    }




                                </tbody>
                            </table>
                        }
                    }

                </div>
            </div>
        </div>

    </div>

    @*Most Supervisor Absence*@
    <div class="col-12">
        <div id="mostSupervisorsAbsence" class="card">
            <div class="card-header card-header-warning">
                <div class="d-flex flex-row justify-content-between">

                    <div>
                        <h4 class="card-title">Most Absence Supervisors </h4>
                        <p class="category">Total supervisors are : @topSupervisorsAbsence.Count</p>

                    </div>

                    <button onclick="PrintOnly('#mostSupervisorsAbsence')" type="button" title="" data-original-title="Print All Page" class="btn btn-warning p-3">
                        <i class="material-icons">print</i>
                    </button>
                </div>

            </div>
            <div class="card-body">
                <div class="table-responsive table-hover">
                    @{
                        if (topSupervisorsAbsence.Count < 1)
                        {
                            <h5 class="alert alert-success w-100 text-center">No Absence Supervisors , Congradulations✨</h5>

                        }
                        else
                        {
                            <table class="table text-center">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>With Student</th>
                                        <th>Absence Times</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var supervisor in topSupervisorsAbsence)
                                    {
                                        <tr>
                                            <td>@supervisor.id.ToString("N").Substring(0,4)</td>
                                            <td> <a href="/Profile/Supervisor/@supervisor.id">@supervisor.fullName</a> </td>
                                            <td>
                                                <a class="d-block" href="mailto:@supervisor.email">@supervisor.email</a>
                                            </td>
                                            <td><a href="/Profile/Student/@supervisor.studentId">@supervisor.studentName</a></td>
                                            <td>@supervisor.absenceTimes</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        }
                    }
                </div>
            </div>
        </div>

    </div>

    @*Supervisors have Achieved Max active Students*@
    <div class="col-sm-12 col-md-12 col-lg-6">
        <div id="fullSupervisors" class="card">
            <div class="card-header card-header-primary">
                <div class="d-flex flex-row justify-content-between">
                    <div>
                        <h4 class="card-title">Full Supervisors</h4>
                        <p class="category">Supervisors have archived max number of students</p>
                    </div>

                    <button onclick="PrintOnly('#fullSupervisors')" type="button" title="" data-original-title="Print All Page" class="btn btn-primary p-3">
                        <i class="material-icons">print</i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive table-hover">
                    @{
                        if (fullSupervisors.Count < 1)
                        {
                            <h5 class="alert alert-secondary w-100 text-center">No Full Supervisors</h5>

                        }
                        else
                        {
                            <table class="table text-center">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Current Active Students</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var fullSupervisor in fullSupervisors)
                                    {
                                        <tr>
                                            <td>@fullSupervisor.id.ToString("N").Substring(0,4)</td>
                                            <td> <a href="/Profile/Supervisor/@fullSupervisor.id">@fullSupervisor.fullName</a> </td>
                                            <td>
                                                <a class="d-block" href="mailto:@fullSupervisor.email">@fullSupervisor.email</a>
                                            </td>
                                            <td>@fullSupervisor.currentActiveStudentsCount</td>
                                        </tr>
                                    }


                                </tbody>

                            </table>

                        }
                    }
                </div>
            </div>
        </div>

    </div>


    @*Supervisors don't have any active Students*@
    <div class="col-sm-12 col-md-12 col-lg-6">
        <div id="idleSupervisors" class="card">
            <div class="card-header card-header-primary">
                <div class="d-flex flex-row justify-content-between">
                    <div>
                        <h4 class="card-title">Idle Supervisors</h4>
                        <p class="category">Supervisors don't have active students</p>
                    </div>

                    <button onclick="PrintOnly('#idleSupervisors')" type="button" title="" data-original-title="Print All Page" class="btn btn-primary p-3">
                        <i class="material-icons">print</i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive table-hover">
                    @{
                        if (idleSupervisors.Count < 1)
                        {
                            <h5 class="alert alert-secondary w-100 text-center">No Idle Supervisors</h5>

                        }
                        else
                        {
                            <table class="table text-center">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var idleSupervisor in idleSupervisors)
                                    {
                                        <tr>
                                            <td>@idleSupervisor.id.ToString("N").Substring(0,4)</td>
                                            <td> <a href="/Profile/Supervisor/@idleSupervisor.id">@idleSupervisor.fullName</a> </td>
                                            <td>
                                                <a class="d-block" href="mailto:@idleSupervisor.email">@idleSupervisor.email</a>
                                            </td>
                                            <td>
                                                <a rel="tooltip" title="" data-original-title="Manage Supervision" class="btn btn-outline-info p-2" href="/Supervision/Update/@idleSupervisor.id">
                                                    <i class="material-icons">settings_ethernet</i>
                                                </a>

                                            </td>
                                        </tr>
                                    }



                                </tbody>
                            </table>
                        }
                    }
                </div>
            </div>
        </div>

    </div>


</div>
