@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Manage Users";
    ViewBag.currentPage = "Manage Users";
    //ViewData[ViewStringHelper.TabName]=RouteNameHelper.ManageUsersTab;

}


@model RegisterUserDto
@*@inject ISelectionRepository _selectionRepo*@

@{

    //for register user
    List<string> userRoles = ViewData[ViewStringHelper.UserRoles] as List<string> ?? new List<string>();
    List<string> userStages = ViewData[ViewStringHelper.UserStages] as List<string> ?? new List<string>();

    //for show users with current query
    List<RegisterUserDto> users = ViewData[ViewStringHelper.AllUsers] as List<RegisterUserDto> ?? new List<RegisterUserDto>();



}

<partial name="Partials/ErrorsAndMessageNotificationPartial" />

<script defer src="~/js/RegisterUser.js"></script>



<!-- Modal Create User -->
<div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Register User</h5>

                <button id="modalCloseBtn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body pb-0">
                @*contenet start *@

                <form class="pb-0" id="msform" method="post" asp-controller="Account" asp-action="RegisterUser">
                    @Html.AntiForgeryToken()

                    <fieldset>
                        <h2 class="fs-title text-center">Fill Account Information</h2>
                        <!-- <input type="text" name="fname" placeholder="First Name"/> -->

                        <div class="form-group mb-3">
                            <label for="fullName">Full Name</label>
                            <input asp-for="fullName" type="text" class="form-control" id="fullName" placeholder="Name">
                            <span asp-validation-for="fullName" class="text-danger"></span>

                        </div>


                        <div class="form-group mb-3">
                            <label for="email">Email Address</label>
                            <input asp-for="emailAddress" type="email" class="form-control" id="email" placeholder="Email">
                            <span asp-validation-for="emailAddress" class="text-danger"></span>

                        </div>

                        <div class="form-group ">
                            <label for="confirmEmail">Confirm Email Address</label>
                            <input asp-for="confirmEmail" type="email" class="form-control" id="confirmEmail" placeholder="Confirm Email">
                            <span asp-validation-for="confirmEmail" class="text-danger"></span>

                        </div>


                        <div class="form-group ">
                            <label for="phoneNumber">Phone Number</label>
                            <input asp-for="phoneNumber" type="text" class="form-control" id="phoneNumber" placeholder="Phone Number (Optional)">
                            <span asp-validation-for="phoneNumber" class="text-danger"></span>

                        </div>

                        <div class="d-flex justify-content-center align-content-stretch">


                            @*for stage*@
                            <div class="form-group w-100 mr-1">


                                <div class="btn-group w-100">
                                    <button id="currentStage" type="button" class="btn btn-secondary dropdown-toggle w-100 " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Stage
                                    </button>
                                    <div class="dropdown-menu">

                                        @{

                                            foreach (string stage in userStages)
                                            {

                                                <option class="dropdown-item stageItem" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="@stage">@stage</option>

                                            }

                                        }
                                    </div>
                                </div>

                                <input asp-for="stage" hidden value="@userStages.FirstOrDefault()" name="stage" id="stage" />
                                <span asp-validation-for="stage" class="text-danger"></span>

                            </div>

                            @*for postion*@
                            <div class="form-group w-100 ml-1">

                                <div class="btn-group w-100">
                                    <button id="currentPostion" type="button" class="btn btn-secondary dropdown-toggle w-100 " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        User Role
                                    </button>
                                    <div class="dropdown-menu">

                                        @{
                                            foreach (string postion in userRoles)
                                            {

                                                <option class="dropdown-item postionItem" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="@postion">@postion</option>

                                            }

                                        }
                                    </div>
                                </div>

                                <input asp-for="userRole" hidden value="@userRoles.FirstOrDefault()" name="userRole" id="userRole" />
                                <span asp-validation-for="userRole" class="text-danger"></span>

                            </div>
                        </div>


                    </fieldset>

                </form>

                @*eontent end*@
            </div>
            <div class="modal-footer">
                <button id="closeBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="submitBtn" type="submit" onclick="return DisplayprogressMessage(this, 'Saving...');" class="btn btn-primary">Create User</button>

            </div>
        </div>
    </div>
</div>
@*to show loading*@


<partial name="_ValidationScriptsPartial" />

@*users table*@

<div class="row">


    <div class="col-md-12">

        @*add user button*@
        <button rel="tooltip" title="" data-original-title="Create User" type="button" class="btn btn-primary d-block ml-auto" data-toggle="modal" data-target="#createUserModal">
            <span class="material-icons ">
                person_add
            </span>
        </button>

        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">All Users</h4>
                <p class="card-category"> Application Users You Can Manage Them</p>
            </div>
            <div class="card-body">
                <div class="table-responsive table-hover">
                    <table class="table">
                        <thead class=" text-primary">
                            <tr>
                                <th>
                                    Full Name
                                </th>
                                <th>
                                    Stage
                                </th>
                                <th>
                                    Email Address
                                </th>
                                <th>
                                    User Role
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in users)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.fullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.stage)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.emailAddress)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.userRole)
                                    </td>

                                    <td class="td-actions text-right">

                                        <div class="d-flex flex-row justify-content-end">

                                            @if (item.userRole == UserRole.Supervisor)
                                            {
                                                <a rel="tooltip" title="" data-original-title="Manage Supervision" class="btn btn-dark m-1" asp-controller="Supervision" asp-action="Update" asp-route-id="@item.id">
                                                    <i class="material-icons">settings_ethernet</i>
                                                </a>
                                            }

                                            @{
                                                @if (item.userRole == UserRole.Supervisor || item.userRole == UserRole.Student)
                                                {

                                                    string profileRoute = item.userRole == UserRole.Supervisor ? "Supervisor" : "Student";

                                                    <a rel="tooltip" title="" data-original-title="Show Profile" class="btn btn-info m-1" href="/Profile/@profileRoute/@item.id">
                                                        <i class="material-icons">person</i>
                                                    </a>
                                                }
                                            }

                                            <a class="btn btn-success m-1" rel="tooltip" title="" data-original-title="Edit User" asp-controller="Profile" asp-action="EditProfile" asp-route-id="@item.id">
                                                <i class="material-icons">edit</i>
                                            </a>


                                            <form asp-controller="Account" asp-action="Delete" asp-route-id="@item.id" class="d-inline m-1">

                                                <button rel="tooltip" title="" data-original-title="Delete User" type="submit" onclick="return confirm('Are you sure you want to delete @item.fullName ?');" class="btn btn-danger">
                                                    <i class="material-icons">delete</i>
                                                </button>

                                            </form>

                                        </div>


                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center">
                        <partial name="Partials/PaginationPartial">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

