@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Manage Users";
    ViewBag.currentPage = "Manage Users";

}

@model List<RegisterUserDto>
@{
    RegisterUserDto dump=null;
    <partial name="Partials/Users/RegisterUserParitail" for="@dump" />

}

<table class="table">
    <thead>
        <tr>

            <th>
                Full Name
            </th>
            <th>
                Stage
            </th>
            <th>
                Email Address
            </th>
            <th>

                Phone Number
            </th>
            <th>
                User Role
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.stage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.emailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.userRole)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    int pageIndex = 1;

    try
    {
        if (HttpContextAccessor.HttpContext.Request.Query.Keys.Contains("pageIndex"))
        {
            pageIndex = int.Parse(HttpContextAccessor.HttpContext.Request.Query["pageIndex"].ToString());
        }

    }
    catch (Exception)
    {
        pageIndex = 1;

    }
    int totalPages = 0;
    try
    {
        totalPages = ViewBag.totalPages;
    }
    catch (Exception ex)
    {
        
    }
     

}
@*pagination*@
@{
    var prevDisabled = !(pageIndex>1) ? "disabled" : "";
    var nextDisabled = !(pageIndex < totalPages) ? "disabled" : "";
}

<a asp-action="ManageUsers"
asp-controller="Account",
   asp-route-pageNumber="@(pageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="ManageUsers"
   asp-route-pageNumber="@(pageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>


