@inject IHttpContextAccessor _httpContextAccessor;
@inject AppTimeProvider _appTimeProvider;

@inject IOptions<AppServiceOptions> _serviceOptions;

@{
    ViewData["Title"] = "Show Meetings";
    ViewBag.currentPage = "Meetings";

    List<MeetingFullDto> meetings = ViewData[ViewStringHelper.Meetings] as List<MeetingFullDto> ?? new List<MeetingFullDto>();

    MeetingQuery currentQuery = ViewData[ViewStringHelper.RequestedMeetingQuery] as MeetingQuery ?? new MeetingQuery();
    string supervisorName = ViewData[ViewStringHelper.RequestedSupervisorName] as string ?? string.Empty;
    string studentName = ViewData[ViewStringHelper.RequestedStudentName] as string ?? string.Empty;
    bool isSupervisor = _httpContextAccessor.HttpContext.User.FindFirstValue(ClaimTypes.Role) == UserRole.Supervisor.ToString();
}

<h4>@supervisorName as supervisor ,  @studentName as student</h4>
<h5>All Meetings From @currentQuery.startDate.Date.ToString("d") To @currentQuery.endDate.Date.ToString("d")</h5>


@{
    if (meetings is null || meetings.Count < 1)
    {
        <h3 class="mt-5 p-5 text-center text-black text-uppercase alert alert-danger">No Meetings Found</h3>

        return;

    }
}
<script src="~/js/Meetings/ShowAndRunMeetings.js" defer ></script>
<link rel="stylesheet" href="~/css/Meetings/ShowAndRunMeetings.css" />


<div class="row ">

    @foreach (var meeting in meetings)
    {

        int tasksNumber = meeting.tasks?.Count ?? 0;
        int numberOfTasksDone = meeting.tasks?.Where(t => t.isCompleted).Count() ?? 0;
        int numberOfTasksNotDone = tasksNumber - numberOfTasksDone;

        <div class="col-lg-4 col-xl-6 col-md-6 col-sm-12 meeting-main-card">
            <div class="card equal-height-card meeting-card">
                <div class="card-header card-header-primary" style="border-radius:6px;">
                    <div class="card-title d-flex justify-content-between" data-meeting-id="@meeting.id">

                        <div>
                            <h4>@meeting.supervisorName</h4>

                        </div>


                        @{
                            string meetingPassedClass = string.Empty;
                            bool isNotMissingMeet = meeting.date.AddHours(meeting.endHour - meeting.startHour + _serviceOptions.Value.PaddingMeetHours) <= _appTimeProvider.Now;
                            if (!isNotMissingMeet)
                            {
                                meetingPassedClass = "badge-success";

                            }
                            else
                            {
                                meetingPassedClass = "badge-warning";

                            }
                        }

                        <span class="@meetingPassedClass rounded p-2">@meeting.date.Humanize() </span>

                    </div>

                    <div class="category">

                        <div>@meeting.date.ToString("D")</div>
                    </div>
                </div>

                <div class="card-body position-relative ">
                    <p>Student : @meeting.studentName</p>

                    @{
                        string description = string.IsNullOrWhiteSpace(meeting.description) ? "No Description" : meeting.description;
                        string noDescriptionClass = string.IsNullOrWhiteSpace(meeting.description) ? "text-danger" : "";
                    }
                    <p class="@noDescriptionClass">@description </p>
                    <div class="d-flex justify-content-between flex-wrap tasks-container">
                        <div>
                            Tasks: @tasksNumber
                        </div>

                        <div>Done: <span class="num-of-done-tasks">@numberOfTasksDone</span>  / @tasksNumber</div>
                        <div>Not Done: <span class="num-of-not-done-tasks"> @numberOfTasksNotDone</span> / @tasksNumber</div>
                    </div>

                    <div class="d-flex justify-content-center align-items-center meet-overlay">


                        @if (isSupervisor && meeting.CanRun(_appTimeProvider.Now, _serviceOptions.Value.PaddingMeetHours))
                        {
                            <button id="runMeetingBtn" class="btn btn-success m-1 runMeetingBtn" rel="tooltip" title="" data-original-title="Run Meeting">
                                <i class="material-icons">not_started</i>
                            </button>
                        }

                        <button class="btn btn-info m-1 viewMeetingBtn" rel="tooltip" title="" data-original-title="Show Meeting">
                            <i class="material-icons">visibility</i>
                        </button>


                        @if (meeting.CanDelete(_appTimeProvider.Now, _serviceOptions.Value.PaddingMeetHours))
                        {

                            <button data-action="/Meeting/api/Remove/@meeting.id" id="deleteMeetingBtn" rel="tooltip" title="" data-original-title="Delete Meeting" type="submit" class="btn btn-danger m-1">
                                <i class="material-icons">delete</i>
                            </button>


                        }

                    </div>
                </div>

            </div>

        </div>

    }

</div>


<div>
    <!--check if current user is supervisor-->
    @if (isSupervisor)
    {
        <!-- Modal Run Meeting-->
        <div class="modal fade show" id="RunMeetingModal" tabindex="-1" role="dialog" aria-labelledby="RunMeetingModalLable" aria-modal="true">
            <div class="modal-dialog " role="document">
                <div class="modal-content">

                    <form id="runMeetFrm" action="/Meeting/api/CompleteMeeting">


                        <div class="modal-header">
                            <h5 class="modal-title" id="RunMeetingModalLable">View Meeting : 2</h5>

                            <button id="modalCloseBtn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                        </div>
                        <div class="modal-body pb-0">

                            <input hidden name="meetingId" id="meetingId" value="">
                            @*content start *@
                            <table style="border-collapse: separate;border-spacing: 10px 5px;" class="text-start w-100">
                                <tbody>

                                    <!--Supervisor Name-->
                                    <tr>
                                        <td>
                                            <label class="label-control" for="supervisorName">Supervisor<span class="star">&#x2605;</span> Name : </label>
                                        </td>
                                        <td>
                                            <input id="supervisorName" name="supervisorName" class="form-control px-2" type="text" placeholder="example name here…" value="" readonly>
                                            <input id="supervisorId" name="supervisorId" value="" hidden>
                                        </td>
                                    </tr>

                                    <!--Student Name-->
                                    <tr>
                                    <tr>
                                        <td>
                                            <label class="label-control" for="studentName">Student Name : </label>
                                        </td>
                                        <td>
                                            <input id="studentName" name="studentName" class="form-control px-2" type="text" placeholder="example name here…" value="" readonly>

                                            <input hidden id="studentId" name="studentId" value="">
                                        </td>
                                    </tr>

                                    <!--Start At-->
                                    <tr>
                                        <td>
                                            <label class="label-control" for="startAt">Start At : </label>
                                        </td>
                                        <td>
                                            <input id="startAt" name="startAt" class="form-control px-2" type="text" placeholder="example date here…" value="" readonly>
                                        </td>
                                    </tr>

                                    <!--End At-->
                                    <tr>
                                        <td>
                                            <label class="label-control" for="endAt">End At : </label>
                                        </td>
                                        <td>
                                            <input id="endAt" name="endAt" class="form-control px-2" type="text" placeholder="example date here…" value="" readonly>
                                        </td>
                                    </tr>

                                    <!--Meeting Description -->
                                    <tr>

                                        <td colspan="2">
                                            <label class="label-control " for="meetingDescription">Description : </label>

                                            <textarea rows="2" id="meetingDescription" name="meetingDescription" class="d-block form-control w-100 px-2 mb-2" type="text" placeholder="example date here…" readonly>                                         

                                                                                       </textarea>
                                        </td>
                                    </tr>

                                    <!-- is Student Present-->
                                    <tr>
                                        <td colspan="2">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    Student is Present
                                                    <input id="isStudentPresent" class="form-check-input" type="checkbox" value="">
                                                    <span class="form-check-sign">
                                                        <span class="check "></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>



                                    </tr>
                                </tbody>


                            </table>

                            <p class=" mt-2" for="totalTasks">Total Tasks : <span id="totalTaksToCheck"></span> </p>


                            <!--Meeting Tasks-->
                            <div id="meeting-tasks">
                                <h5>Meeting Tasks</h5>

                                <table class="table">

                                    <tbody id="tasks-table-body">
                                        <tr>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                            @*content end*@
                        </div>
                        <div class="modal-footer">
                            <button id="closeBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button class="btn btn-success completeMeetingBtn">Complete Meeting </button>

                        </div>


                    </form>

                </div>
            </div>

        </div>

    }
    <!-- Modal View Meeting-->
    <div class="modal fade" id="ViewMeetingModal" tabindex="-1" role="dialog" aria-labelledby="ViewMeetingModalLable" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ViewMeetingModalLable">Run Meeting : <span id="meetingIdShow">2</span></h5>

                    <button id="modalCloseBtn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body pb-0">
                    @*content start *@

                    <table style="border-collapse: separate;border-spacing: 10px 5px;" class="text-start w-100">
                        <tbody>
                            <!--Supervisor Name-->
                            <tr>
                                <td>
                                    <label class="label-control" for="supervisorNameShow">Supervisor<span class="star">&#x2605;</span> Name : </label>
                                </td>
                                <td>
                                    <input id="supervisorNameShow" name="supervisorNameShow" class="form-control px-2" type="text" placeholder="example name here…" value="" readonly>
                                </td>
                            </tr>

                            <!--Student Name-->
                            <tr>
                                <td>
                                    <label class="label-control" for="studentNameShow">Student Name : </label>
                                </td>
                                <td>
                                    <input id="studentNameShow" name="studentNameShow" class="form-control px-2" type="text" placeholder="example name here…" value="" readonly>
                                </td>
                            </tr>

                            <!--Created At-->
                            <tr>
                                <td>
                                    <label class="label-control" for="createdShow">Created At : </label>
                                </td>
                                <td>
                                    <input id="createdShow" name="createdShow" class="form-control px-2" type="text" placeholder="example date here…" value="" readonly>
                                </td>
                            </tr>

                            <!--Started At-->
                            <tr>
                                <td>
                                    <label class="label-control" for="startAtShow">Start At : </label>
                                </td>
                                <td>
                                    <input id="startAtShow" name="startAtShow" class="form-control px-2" type="text" placeholder="example date here…" value="" readonly>
                                </td>
                            </tr>

                            <!--Total Hours At-->
                            <tr>
                                <td>
                                    <label class="label-control" for="totalHoursShow">Total Hours: </label>
                                </td>
                                <td>
                                    <input id="totalHoursShow" name="startAtShow" class="form-control px-2" type="text" placeholder="example date here…" value="Hours" readonly>
                                </td>
                            </tr>

                            <!--Meeting Description-->
                            <tr>

                                <td colspan="2">
                                    <label class="label-control " for="meetingDescriptionShow">Description : </label>

                                    <textarea rows="4" id="meetingDescriptionShow" name="meetingDescriptionShow" class="d-block form-control w-100 px-2" type="text" placeholder="example date here…" readonly>                                         

                                                        </textarea>
                                </td>
                            </tr>

                            <!--Meeting Presents-->
                            <tr>

                                <td colspan="2">

                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Is Student Present</th>
                                                <th>Is Supervisor Present</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input id="isStudentPresentShow" name="isStudentPresentShow" class="form-control px-2" type="text" placeholder="example date here…" value="" readonly>
                                                </td>
                                                <td>
                                                    <input id="isSupervisorPresentShow" name="isSupervisorPresentShow" class="form-control px-2" type="text" placeholder="example date here…" value="" readonly>
                                                </td>
                                            </tr>
                                        </tbody>


                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <p class=" mt-2" for="totalTasks">Total Tasks : <span id="totalTaksShow"></span> </p>


                    <!--Total Hours At-->
                    <div id="meeting-tasksShow">
                        <h5>Meeting Tasks</h5>

                        <table class="table text-center">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Completed</th>
                                </tr>
                            </thead>
                            <tbody id="tasks-table-bodyShow">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                    @*content end*@
                </div>
                <div class="modal-footer">
                    <button id="closeBtn" type="button" class="btn btn-dark" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>

    </div>
</div>



<script>
    let myMeetings = @Html.Raw(Json.Serialize(meetings));
    let paddingHours = '@_serviceOptions.Value.PaddingMeetHours';
    //[{
    //"created": "2023-04-28T17:17:34.3012546",
    //"studentName": "Ali Adel",
    //"supervisorName": "Abass Ahmed",
    //"isSupervisorPresent": false,
    //"isStudentPresent": false,
    //"id": 2,
    //"supervisorId": "b56fdc70-d25c-4e97-86b5-08db47ce2769",
    //"day": 0,
    //"studentId": "7cd969d7-3f83-4535-86b6-08db47ce2769",
    //"totalTimeHoure": 1,
    //"date": "2023-06-11T02:00:00",
    //"startHour": 2,
    //"endHour": 3,
    //"description": "meeting description here",
    //"hasTasks": true,
    //"tasks": [
    //    {
    //        "id": 2,
    //        "title": "task1",
    //        "decription": "desc1",
    //        "isCompleted": false
    //    },
    //    {
    //        "id": 3,
    //        "title": "task 2",
    //        "decription": "desc2",
    //        "isCompleted": false
    //    }]
</script>





