@inject IHttpContextAccessor _httpContextAccessor;
@inject AppTimeProvider _appTimeProvider;

@inject IOptions<AppServiceOptions> _serviceOptions;

@{
    ViewData["Title"] = "Show Meetings";
    ViewBag.currentPage = "Meetings";

    List<MeetingFullDto> meetings = ViewData[ViewStringHelper.Meetings] as List<MeetingFullDto> ?? new List<MeetingFullDto>();

    MeetingQuery currentQuery = ViewData[ViewStringHelper.RequestedMeetingQuery] as MeetingQuery ?? new MeetingQuery();
    string supervisorName = ViewData[ViewStringHelper.RequestedSupervisorName] as string ?? string.Empty;
    string studentName = ViewData[ViewStringHelper.RequestedStudentName] as string ?? string.Empty;
    bool isSupervisor = _httpContextAccessor.HttpContext.User.FindFirstValue(ClaimTypes.Role) == UserRole.Supervisor.ToString();
    bool isStudent = _httpContextAccessor.HttpContext.User.FindFirstValue(ClaimTypes.Role) == UserRole.Student.ToString();
    bool isAdmin = _httpContextAccessor.HttpContext.User.FindFirstValue(ClaimTypes.Role) == UserRole.Admin.ToString();

    List<StudentDatedSelectDto> supervisorStudents;
    List<SelectListItem> studentsOptions = new();

    if (isSupervisor)
    {
        supervisorStudents = ViewData[ViewStringHelper.SupervisorStudents] as List<StudentDatedSelectDto> ?? new List<StudentDatedSelectDto>();

        studentsOptions = supervisorStudents.Select(s => new SelectListItem { Text = s.FullName, Value = s.id.ToString() }).ToList();
    }
    List<SupervsionSummary> supervsions;
    List<SelectListItem> supervsionsOptions = new();

    if (isAdmin)
    {
        supervsions = ViewData[ViewStringHelper.SupervsionSummary] as List<SupervsionSummary> ?? new List<SupervsionSummary>();
        supervsionsOptions = supervsions.Select(s => new SelectListItem { Text = $"{s.supervisorName} -- {s.studentName}", Value = s.supervsionId.ToString() }).ToList();

    }
}

<partial name="Partials/ErrorsAndMessageNotificationPartial" />


<script src="~/js/Meetings/ShowAndRunMeetings.js" defer></script>
<script src="~/js/Meetings/MeetringsSearch.js" defer></script>

<link rel="stylesheet" href="~/css/Meetings/ShowAndRunMeetings.css" />

<script>

    let myMeetings = @Html.Raw(Json.Serialize(meetings));
    let paddingHours = '@_serviceOptions.Value.PaddingMeetHours';

    const isSupervisor = @Html.Raw(Json.Serialize(isSupervisor));
    const isStudent = @Html.Raw(Json.Serialize(isStudent));
    const isAdmin = @Html.Raw(Json.Serialize(isAdmin));

</script>

<div class="d-flex justify-content-end">

    <button rel="tooltip" title="" data-original-title="Search In Meetings" type="button" class="btn btn-primary " data-toggle="modal" data-target="#meetingSearchModal">
        <span class="material-icons ">
            search
        </span>
    </button>
    @if (isSupervisor)
    {

        <button rel="tooltip" title="" data-original-title="Create Meetings" type="button" class="btn btn-primary " data-toggle="modal" data-target="#createMeetingModal">
            <span class="material-icons ">
                add_circle
            </span>
        </button>


    }


</div>
@if (isSupervisor) {
    <!--Create Meeting Modal-->
    <div class="modal fade" id="createMeetingModal" tabindex="-1" role="dialog" aria-labelledby="createMeetingLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createMeetingLabel">Search In Meetings</h5>

                    <button id="modalCloseBtn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>

                </div>
                <div class="modal-body pb-0">

                    <!-- input with datetimepicker -->

                    <table style="border-collapse: separate;border-spacing: 10px 5px;" class="text-start w-100">
                        <tbody>

                            @if (isSupervisor)
                            {

                                <tr>
                                    <td>
                                        <label class="label-control" for="studentIdSearch">Student Name</label>

                                    </td>
                                    <td>

                                        <select id="studentIdCreate" data-val="true" data-val-required="Student Is Required" name="studentIdSearch" required class="selectpicker btn btn-outline-rose btn-dark w-100" data-style="btn btn-rose btn-round" asp-items="@studentsOptions"></select>

                                    </td>


                                </tr>
                            }


                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button id="closeBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="createMeetingBtn" type="button" class="btn btn-primary">Go</button>

                </div>
            </div>
        </div>
    </div>
}
<!--Search Modal-->
<div class="modal fade" id="meetingSearchModal" tabindex="-1" role="dialog" aria-labelledby="meetingSearchLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="meetingSearchLabel">Search In Meetings</h5>

                <button id="modalCloseBtn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>

            </div>
            <div class="modal-body pb-0">

                <!-- input with datetimepicker -->

                <table style="border-collapse: separate;border-spacing: 10px 5px;" class="text-start w-100">
                    <tbody>

                        @if (isSupervisor)
                        {

                            <tr>
                                <td>
                                    <label class="label-control" for="studentIdSearch">Student Name</label>

                                </td>
                                <td>

                                    <select id="studentIdSearch" data-val="true" data-val-required="Student Is Required" name="studentIdSearch" required class="selectpicker btn btn-outline-rose btn-dark w-100" data-style="btn btn-rose btn-round" asp-items="@studentsOptions"></select>

                                </td>


                            </tr>
                        }
                        @if (isAdmin)
                        {

                            <tr>
                                <td>
                                    <label class="label-control" for="studentIdSearch">Supervision</label>

                                </td>
                                <td>
                                    <select id="supervisionsSearch" data-val="true" data-val-required="Student Is Required" name="supervisionsSearch" required class="selectpicker btn btn-outline-rose btn-dark w-100" data-style="btn btn-rose btn-round" asp-items="@supervsionsOptions"></select>
                                </td>


                            </tr>

                        }

                        <tr>
                            <td>
                                <label class="label-control" for="startDate">Start Date</label>

                            </td>

                            <td>
                                <input id="startDateSearch" class="w-100" data-val="true" data-val-required="Start Date Is Required" type="date" name="startDate">

                            </td>


                        </tr>

                        <tr>
                            <td>
                                <label class="label-control" for="endDate">End Date</label>

                            </td>

                            <td>
                                <input id="endDateSearch" class="w-100" data-val="true" data-val-required="End Date Is Required" type="date" name="endDate">

                            </td>

                        </tr>

                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button id="closeBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="searchBtn" type="button" class="btn btn-primary">Search</button>

            </div>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-header card-header-primary border-radius-6">
        <h4 class="card-title">@supervisorName as supervisor ,  @studentName as student</h4>
        <p class="category">All Meetings From @currentQuery.startDate.Date.ToString("d") To @currentQuery.endDate.Date.ToString("d")</p>
    </div>
    <div class="card-body">


        <div class="row ">

            @foreach (var meeting in meetings)
            {

                int tasksNumber = meeting.tasks?.Count ?? 0;
                int numberOfTasksDone = meeting.tasks?.Where(t => t.isCompleted).Count() ?? 0;
                int numberOfTasksNotDone = tasksNumber - numberOfTasksDone;

                string meetingCardClass = string.Empty;

                bool canDelete = meeting.CanDelete(_appTimeProvider.Now, _serviceOptions.Value.PaddingMeetHours);
                bool canRun = meeting.CanRun(_appTimeProvider.Now, _serviceOptions.Value.PaddingMeetHours);
                if (canDelete)
                {
                    meetingCardClass = "info";
                }
                if (canRun)
                {
                    meetingCardClass = "success";
                }
                if (!canDelete && !canRun)

                {
                    meetingCardClass = "warning";

                }

                <div class="col-lg-4 col-xl-6 col-md-6 col-sm-12 meeting-main-card">
                    <div class="card equal-height-card meeting-card">
                        <div class="card-header card-header-@meetingCardClass border-radius-6">
                            <div class="card-title d-flex justify-content-between" data-meeting-id="@meeting.id">

                                <div>
                                    <h4>@meeting.supervisorName </h4>

                                </div>

                                @{
                                    //string badgeClass = meetingCardClass == "warning" ? "light" : meetingCardClass;
                                }

                                <span class="badge-light p-2 border-radius-6">@meeting.date.Humanize() </span>

                            </div>

                            <div class="category">

                                <div>@meeting.date.ToString("D")</div>
                            </div>
                        </div>

                        <div class="card-body position-relative ">
                            <p>Student : @meeting.studentName</p>

                            @{
                                string description = string.IsNullOrWhiteSpace(meeting.description) ? "No Description" : meeting.description;
                                string noDescriptionClass = string.IsNullOrWhiteSpace(meeting.description) ? "text-danger" : "";
                            }
                            <p class="@noDescriptionClass">@description </p>
                            <div class="d-flex justify-content-between flex-wrap tasks-container">
                                <div>
                                    Tasks: @tasksNumber
                                </div>

                                <div>Done: <span class="num-of-done-tasks">@numberOfTasksDone</span>  / @tasksNumber</div>
                                <div>Not Done: <span class="num-of-not-done-tasks"> @numberOfTasksNotDone</span> / @tasksNumber</div>
                            </div>

                            <div class="d-flex justify-content-center align-items-center meet-overlay">

                                @if (canRun)

                                {
                                    if (isSupervisor)
                                    {
                                        <button id="runMeetingBtn" class="btn btn-success m-1 runMeetingBtn" rel="tooltip" title="" data-original-title="Run Meeting">
                                            <i class="material-icons">not_started</i>
                                        </button>
                                    }
                                    if (isStudent)
                                    {
                                        <button id="studentPresentBtn" data-meeting-id="@meeting.id" class="btn btn-success m-1 studentPresentBtn" rel="tooltip" title="" data-original-title="Register Present">
                                            <i class="material-icons">back_hand</i>
                                        </button>

                                    }

                                }


                                <button class="btn btn-info m-1 viewMeetingBtn" rel="tooltip" title="" data-original-title="Show Meeting">
                                    <i class="material-icons">visibility</i>
                                </button>


                                @if (canDelete)
                                {

                                    <button data-action="/Meeting/api/Remove/@meeting.id" id="deleteMeetingBtn" rel="tooltip" title="" data-original-title="Delete Meeting" type="submit" class="btn btn-danger m-1">
                                        <i class="material-icons">delete</i>
                                    </button>


                                }

                            </div>
                        </div>

                    </div>

                </div>

            }

        </div>
        @if (meetings is null || meetings.Count < 1)
        {
            <h4 class="mt-5 p-3 text-center text-black text-uppercase alert alert-danger">No Meetings Found</h4>

        }

    </div>
</div>
@if (meetings is null || meetings.Count < 1)
{
    return;
}


<!--check if current user is supervisor-->
@if (isSupervisor)
{
    <!-- Modal Run Meeting-->
    <div class="modal fade show" id="RunMeetingModal" tabindex="-1" role="dialog" aria-labelledby="RunMeetingModalLable" aria-modal="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">

                <form id="runMeetFrm" action="/Meeting/api/CompleteMeeting">


                    <div class="modal-header">
                        <h5 class="modal-title" id="RunMeetingModalLable">Run Meeting : <span id="meetingIdRun">2</span></h5>

                        <button id="modalCloseBtn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                    <div class="modal-body pb-0">

                        <input hidden name="meetingId" id="meetingId" value="">
                        @*content start *@
                        <table style="border-collapse: separate;border-spacing: 10px 5px;" class="text-start w-100">
                            <tbody>

                                <!--Supervisor Name-->
                                <tr>
                                    <td>
                                        <label class="label-control" for="supervisorName">Supervisor<span class="star">&#x2605;</span> Name : </label>
                                    </td>
                                    <td>
                                        <input id="supervisorName" name="supervisorName" class="form-control px-2" type="text" placeholder="example name here…" value="" readonly>
                                        <input id="supervisorId" name="supervisorId" value="" hidden>
                                    </td>
                                </tr>

                                <!--Student Name-->
                                <tr>
                                <tr>
                                    <td>
                                        <label class="label-control" for="studentName">Student Name : </label>
                                    </td>
                                    <td>
                                        <input id="studentName" name="studentName" class="form-control px-2" type="text" placeholder="example name here…" value="" readonly>

                                        <input hidden id="studentId" name="studentId" value="">
                                    </td>
                                </tr>

                                <!--Start At-->
                                <tr>
                                    <td>
                                        <label class="label-control" for="startAt">Start At : </label>
                                    </td>
                                    <td>
                                        <input id="startAt" name="startAt" class="form-control px-2" type="text" placeholder="example date here…" value="" readonly>
                                    </td>
                                </tr>

                                <!--End At-->
                                <tr>
                                    <td>
                                        <label class="label-control" for="endAt">End At : </label>
                                    </td>
                                    <td>
                                        <input id="endAt" name="endAt" class="form-control px-2" type="text" placeholder="example date here…" value="" readonly>
                                    </td>
                                </tr>

                                <!--Meeting Description -->
                                <tr>

                                    <td colspan="2">
                                        <label class="label-control " for="meetingDescription">Description : </label>

                                        <textarea rows="2" id="meetingDescription" name="meetingDescription" class="d-block form-control w-100 px-2 mb-2" type="text" placeholder="example date here…" readonly>                                         

                                                                                                                                                                                       </textarea>
                                    </td>
                                </tr>

                                <!-- is Student Present-->
                                <tr>
                                    <td colspan="2">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                Student is Present
                                                <input id="isStudentPresent" class="form-check-input" type="checkbox" value="">
                                                <span class="form-check-sign">
                                                    <span class="check "></span>
                                                </span>
                                            </label>
                                        </div>
                                    </td>

                                </tr>

                            </tbody>


                        </table>

                        <p class=" mt-2" for="totalTasks">Total Tasks : <span id="totalTaksToCheck"></span> </p>


                        <!--Meeting Tasks-->
                        <div id="meeting-tasks">
                            <h5>Meeting Tasks</h5>

                            <table class="table">

                                <tbody id="tasks-table-body">
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                        @*content end*@
                    </div>
                    <div class="modal-footer">
                        <button id="closeBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button class="btn btn-success completeMeetingBtn">Complete Meeting </button>

                    </div>


                </form>

            </div>
        </div>

    </div>

}
<!-- Modal View Meeting-->
<div class="modal fade" id="ViewMeetingModal" tabindex="-1" role="dialog" aria-labelledby="ViewMeetingModalLable" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div>

                <div class="modal-header">
                    <h5 class="modal-title" id="ViewMeetingModalLable">View Meeting : <span id="meetingIdShow">2</span></h5>

                    <button id="modalCloseBtn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body pb-0">
                    @*content start *@

                    <table style="border-collapse: separate;border-spacing: 10px 5px;" class="text-start w-100">
                        <tbody>
                            <!--Supervisor Name-->
                            <tr>
                                <td>
                                    <label class="label-control" for="supervisorNameShow">Supervisor<span class="star">&#x2605;</span> Name : </label>
                                </td>
                                <td>
                                    <input id="supervisorNameShow" name="supervisorNameShow" class="form-control px-2" type="text" placeholder="example name here…" value="" readonly>
                                </td>
                            </tr>

                            <!--Student Name-->
                            <tr>
                                <td>
                                    <label class="label-control" for="studentNameShow">Student Name : </label>
                                </td>
                                <td>
                                    <input id="studentNameShow" name="studentNameShow" class="form-control px-2" type="text" placeholder="example name here…" value="" readonly>
                                </td>
                            </tr>

                            <!--Created At-->
                            <tr>
                                <td>
                                    <label class="label-control" for="createdShow">Created At : </label>
                                </td>
                                <td>
                                    <input id="createdShow" name="createdShow" class="form-control px-2" type="text" placeholder="example date here…" value="" readonly>
                                </td>
                            </tr>

                            <!--Started At-->
                            <tr>
                                <td>
                                    <label class="label-control" for="startAtShow">Start At : </label>
                                </td>
                                <td>
                                    <input id="startAtShow" name="startAtShow" class="form-control px-2" type="text" placeholder="example date here…" value="" readonly>
                                </td>
                            </tr>

                            <!--Total Hours At-->
                            <tr>
                                <td>
                                    <label class="label-control" for="totalHoursShow">Total Hours: </label>
                                </td>
                                <td>
                                    <input id="totalHoursShow" name="startAtShow" class="form-control px-2" type="text" placeholder="example date here…" value="Hours" readonly>
                                </td>
                            </tr>

                            <!--Meeting Description-->
                            <tr>

                                <td colspan="2">
                                    <label class="label-control " for="meetingDescriptionShow">Description : </label>

                                    <textarea rows="4" id="meetingDescriptionShow" name="meetingDescriptionShow" class="d-block form-control w-100 px-2" type="text" placeholder="example date here…" readonly>                                         

                                                            </textarea>
                                </td>
                            </tr>

                            <!--Meeting Presents-->
                            <tr>

                                <td colspan="2">

                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Is Student Present</th>
                                                <th>Is Supervisor Present</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input id="isStudentPresentShow" name="isStudentPresentShow" class="form-control px-2" type="text" placeholder="example date here…" value="" readonly>
                                                </td>
                                                <td>
                                                    <input id="isSupervisorPresentShow" name="isSupervisorPresentShow" class="form-control px-2" type="text" placeholder="example date here…" value="" readonly>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <p class=" mt-2" for="totalTasks">Total Tasks : <span id="totalTaksShow"></span> </p>


                    <!--Meeting Tasks At-->
                    <div id="meeting-tasksShow">
                        <h5>Meeting Tasks</h5>

                        <table class="table text-center">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Completed</th>
                                </tr>
                            </thead>
                            <tbody id="tasks-table-bodyShow">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                    @*content end*@
                </div>
                <div class="modal-footer">
                    <button id="closeBtn" type="button" class="btn btn-dark" data-dismiss="modal">Close</button>

                </div>

            </div>
        </div>
    </div>

</div>






