@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model UserInfo

<script defer src="~/js/Profile/EditProfile.js"></script>
<link rel="stylesheet" href="~/css/Profile/EditProfileStyle.css" />

<div class="container-fluid">

    @{


        List<string> roles = ViewData[ViewStringHelper.UserRoles] as List<string> ?? new List<string>();
        List<string> stages = ViewData[ViewStringHelper.UserStages] as List<string> ?? new List<string>();
        List<SupervisorSelectDto> availableSupervisors = ViewData[ViewStringHelper.AvailableSupervisors] as List<SupervisorSelectDto> ?? new List<SupervisorSelectDto>();

        List<SelectListItem> roleOptions = roles.Select(r => new SelectListItem { Text = r, Value = r }).ToList();
        List<SelectListItem> stageOptions = stages.Select(s => new SelectListItem { Text = s, Value = s }).ToList();
        List<SelectListItem> supervisorOptions = availableSupervisors.Select(s => new SelectListItem { Text = s.name, Value = s.id.ToString() }).ToList();


        bool isAdmin = Context.User.IsInRole(UserRole.Admin.ToString());




        <partial name="Partials/ErrorsAndMessageNotificationPartial" />

        if (Model is null)
        {
            <h2 class="text-center text-danger ">No User Found</h2>
        }
        else
        {
            <div class="row">
                <div class="col-md-7">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Edit Profile</h4>
                            <p class="card-category">Complete your profile</p>
                        </div>
                        <div class="card-body">

                            <form method="post" id="editProfileForm" asp-controller="Profile" asp-action="EditProfile" asp-route-id="@Context.Request.RouteValues["id"]?">
                                <div class="row">
                                    <input asp-for="id" hidden value="@Model.id">
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <label asp-for="fullName" class="bmd-label-floating">Full Name</label>
                                            <input asp-for=fullName type="text" class="form-control">
                                        </div>
                                        <span asp-validation-for="fullName" class="d-block w-100 text-danger"></span>

                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group d-flex flex-row">

                                            @if (isAdmin)
                                            {
                                                <label asp-for="userRole">User Role</label>
                                                <select class="form-control" asp-for="userRole" asp-items="@roleOptions"></select>
                                                <span asp-validation-for="userRole"></span>


                                            }
                                            else
                                            {
                                                //render stages here insted

                                                //<label asp-for="stage">Stage</label>
                                                <select class="form-control" asp-for="stage" asp-items="@stageOptions"></select>
                                                <span asp-validation-for="stage"></span>

                                            }

                                        </div>




                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">

                                            <label asp-for="emailAddress" class="bmd-label-floating">Email address</label>

                                            @if (isAdmin)
                                            {
                                                <input asp-for="emailAddress" type="email" class="form-control">

                                            }
                                            else
                                            {
                                                <input asp-for="emailAddress" type="email" class="form-control" disabled>

                                            }

                                        </div>
                                        <span asp-validation-for="emailAddress" class="d-block w-100 text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">

                                            <label asp-for=phoneNumber class="bmd-label-floating">Phone Number</label>
                                            <input asp-for="phoneNumber" type="text" class="form-control">
                                        </div>
                                        <span asp-validation-for="phoneNumber" class="d-block w-100 text-danger"></span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-floating">Adress</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group bmd-form-group ">

                                            @if (isAdmin)
                                            {
                                                //render stages here

                                                //<label  asp-for="stage">Stage</label>
                                                <select class="form-control" asp-for="stage" asp-items="@stageOptions"></select>
                                                <span asp-validation-for="stage"></span>

                                            }

                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-floating">Country</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-floating">Postal Code</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>About Me</label>
                                            <div class="form-group bmd-form-group">
                                                <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                                <textarea class="form-control" rows="5"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button id="editSubmitBtn" type="submit" class="btn btn-primary pull-right" disabled>Update Profile</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>


                <div class="col-md-5">
                    <div class="card card-profile">
                        <div class="card-avatar border-1">
                            @{
                                string profileImage = "profile_empty_img.png";

                                if (!string.IsNullOrWhiteSpace(Model?.profileImage))
                                {
                                    profileImage = Model.profileImage;
                                }
                            }
                            <div class="img_div">

                                <label class="newbtn" >
                                    <img id="previewImage" class="img" src="~/UsersImages/@profileImage" />
                                </label>

                                <div class="edit-overlay">
                                    <i class="material-icons pt-1">photo_camera</i>

                                </div>
                            </div>


                        </div>
                        <div class="card-body">
                            <h6 class="card-category text-gray">@Model?.userRole</h6>
                            <h4 class="card-title">@Model?.fullName</h4>
                            <p class="card-description">



                                <form id="profileImageForm" method="post" enctype="multipart/form-data" asp-action="UpdateProfileImage" asp-controller="@RouteNameHelper.AccountControllerName" asp-route-id="@Context.Request.RouteValues["id"]">

                                    <input id="picInput" style=" display: none;" name="picInput" class='pis' type="file" accept="Image/*"
                                           data-val="true data-val-required="Old Password Is Required"
                                           required>

                                    <span class="text-danger field-validation-valid" data-valmsg-for="picInput" data-valmsg-replace="true"></span>

                                    @Html.AntiForgeryToken()


                                    <button type="submit" id="updateProfileSubmitBtn" onclick="return DisplayprogressMessage('profileImageForm',this, 'Saving...');" class="btn btn-info " disabled> Save Image</button>

                                </form>


                            </p>
                        </div>
                    </div>


                    <div class="card mt-5">
                        <div class="card-header card-header-warning">
                            <h4 class="card-title">Account Security</h4>
                            <p class="category">Change Account Password</p>
                        </div>
                        <div class="card-body">

                            <form method="post" id="changePasswordForm" asp-controller="@RouteNameHelper.AccountControllerName" asp-action="ChangePassword" asp-route-id="@Context.Request.RouteValues["id"]">

                                @Html.AntiForgeryToken()

                                @if (!Context.User.IsInRole(UserRole.Admin.ToString()))
                                {
                                    <div class="form-group mb-3 bmd-form-group">
                                        <label for="fullName" class="bmd-label-static">Old Password</label>

                                        <input type="text" class="form-control" id="oldPassword" placeholder="Enter password"
                                               data-val="true" data-val-length="Old Password Must Be Between 8 and 255 for length"
                                               data-val-length-max="255" data-val-length-min="8" data-val-required="Old Password Is Required"
                                               maxlength="255" name="oldPassword" value="">
                                        <span class="text-danger field-validation-valid" data-valmsg-for="oldPassword" data-valmsg-replace="true"></span>

                                    </div>
                                }


                                <div class="form-group mb-3 bmd-form-group">
                                    <label for="fullName" class="bmd-label-static">New Password</label>

                                    <input type="text" class="form-control" id="newPassword" placeholder="Enter New password"
                                           data-val="true" data-val-length="New Password Must Be Between 8 and 255 for length"
                                           data-val-length-max="255" data-val-length-min="8" data-val-required="New Password Is Required"
                                           maxlength="255" name="newPassword" value="">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="newPassword" data-valmsg-replace="true"></span>

                                </div>

                                <div class="form-group mb-3 bmd-form-group">
                                    <label for="fullName" class="bmd-label-static">Confirm New Password</label>

                                    <input type="text" class="form-control" id="confirmNewPassword" placeholder="Rewrite New password"
                                           data-val="true" data-val-length="Confirm New Password Must Be Between 8 and 255 for length"
                                           data-val-length-max="255" data-val-length-min="8" data-val-required="Confirm New Password Is Required"
                                           maxlength="255" name="confirmNewPassword"
                                           data-val-equalto="New Password Mismatch" data-val-equalto-other="*.newPassword" value="">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="confirmNewPassword" data-valmsg-replace="true"></span>

                                </div>



                                <button id="changePasswordSubmitBtn" type="submit" class="d-block btn btn-warning mx-auto">Change Password</button>

                            </form>

                        </div>
                    </div>
                </div>
            </div>

            <partial name="_ValidationScriptsPartial" />
        }

    }

    <select class="form-control" asp-items="@supervisorOptions"></select>

</div>
@{
    ValueTuple<string, string> formInfo = new("editProfileForm", "editSubmitBtn");
}

<partial name="Partials/FrormInputChangeListnerPartial" for="@formInfo">
